**/.DS_Store
**/.idea/
node_modules/
package-lock.json
package.json
.github/
.vscode/
.expo/
/backend/internal/gateway-service/ml/pedestrian.csv
/backend/internal/gateway-service/ml/dcc-footfall-counter-locations-14082020.csv
/backend/cmd/main_test.go